body{
    background-color: rgb(55, 7, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 800px;
    height: 500px; 
    position: relative;
}
.content{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.question{
    font-size: 40px;
    font-weight: 600;
}

.answer{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 24px;
    color: rgb(86, 84, 87);
}

.game{
    /* display:none; */
}

.result{
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2cqi;
    width: 500px;
    text-align: center;
}

.result h1{
    font-size: 50px;
    font-weight: 700;
    color: #72b021;
}

.correct{
    font-size: 25px;
    color: rgb(17, 17, 236);
}

.wrong{
    font-size: 25px;
    color: rgb(225, 31, 31);
}

.play{
    background-color: rgb(185, 29, 213);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor:  pointer;
    font-size: 18px;
}

.submit{
    background-color: rgb(185, 29, 213);
    border-radius: 10px;
    border: none;
    color: white;
    height: 50px;
    width: 100%;
    cursor:  pointer;
    font-size: 18px;
    position: absolute;
    bottom: 0;  
}